ul {
  padding-left: 0;
}
.h1-img {
  background: url("https://raw.githubusercontent.com/hexschool/webLayoutTraining1st/master/chatTalker_images/logo.png");
  background-size: contain;
  width: 218px;
  height: 40px;
  text-indent: 101%;
  overflow: hidden;
  white-space: nowrap;
}

.bg-home {
  background: url("https://raw.githubusercontent.com/hexschool/webLayoutTraining1st/f70f00178a7f0baa31e9c01634303d8562cfe93a/chatTalker_images/bg_home.svg");
  width: 850px;
  height: 768px;
  z-index: -1;
  top: 0;
  right: 0;
  background-repeat: no-repeat;
}

.bg-ball-1 {
  background: url("https://raw.githubusercontent.com/hexschool/webLayoutTraining1st/f70f00178a7f0baa31e9c01634303d8562cfe93a/chatTalker_images/ball01.svg");
  width: 361px;
  height: 360px;
  left: -200px;
  top: 750px;
  z-index: -1;
}

.hero {
  h2 {
    font-size: $h1-font-size;
  }
  h3 {
    font-size: $h5-font-size;
  }
  h4 {
    font-size: $h6-font-size;
  }
  .hero-img {
    width: 50%;
  }
}
.to-top-button {
  width: 71px;
  height: 71px;
  right: 50px;
  bottom: 50px;
  background: url("../images/top.svg");
}
.platform {
  h2 {
    font-size: $h2-font-size;
  }
  h3 {
    font-size: $h4-font-size;
  }
  img {
    width: 90px;
    height: 90px;
  }
  div {
    color: $gray;
  }
}

.character {
  h2 {
    font-size: $h2-font-size;
  }
  h3 {
    font-size: $h5-font-size;
  }
  h4 {
    font-size: $font-size-base;
  }
  li {
    background-color: white;
    width: 260px;
    box-shadow: $li-shadow;
  }
}
.second-ball {
  background-image: url("https://raw.githubusercontent.com/hexschool/webLayoutTraining1st/f70f00178a7f0baa31e9c01634303d8562cfe93a/chatTalker_images/ball02.svg");
  background-size: cover;
  width: 210px;
  height: 310px;
  right: 0;
  top: 400px;
  z-index: -1;
}
.shadow {
  box-shadow: $li-shadow;
}

.flow {
  h2 {
    font-size: $h2-font-size;
  }
  h3 {
    font-size: $h6-font-size;
  }
  a {
    width: 132px;
    padding: 12px 0;
  }
  li {
    width: 230px;
    padding: 32px 32px 48px 32px;
    &:nth-child(1) {
      order: 1;
      margin-right: 47px;
    }
    &:nth-child(2) {
      order: 2;
    }
    &:nth-child(3) {
      order: 3;
      margin-right: 47px;
    }
    &:nth-child(4) {
      order: 4;
    }
  }
  .flow-width {
    width: 50%;
  }
  .flow-img {
    width: 86px;
    height: 86px;
  }
}
.third-ball {
  background-image: url("https://raw.githubusercontent.com/hexschool/webLayoutTraining1st/master/chatTalker_images/ball03.svg");
  background-size: cover;
  width: 150px;
  height: 150px;
  top: 30px;
  left: 210px;
}
.owl-item {
  padding-top: 50px;
  padding-bottom: 20px;
}
.comment {
  h2 {
    font-size: $h2-font-size;
  }
  .head-img {
    width: 80px !important;
    height: 80px !important;
    left: 32px;
    top: -50px;
  }
  h3 {
    font-size: $h4-font-size;
  }
}
.owl-theme .owl-dots .owl-dot.active span,
.owl-theme .owl-dots .owl-dot:hover span {
  background: #ffd153 !important;
  width: 16px;
  height: 10px;
}
.user-experience {
  background-image: url("https://raw.githubusercontent.com/hexschool/webLayoutTraining1st/f70f00178a7f0baa31e9c01634303d8562cfe93a/chatTalker_images/home_footer.svg");
  padding-top: 300px;
  padding-bottom: 100px;
  background-size: cover;
  background-repeat: no-repeat;
  a {
    width: 136px;
  }
}
.price {
  background-color: #f7f9fd;
  z-index: -2;
  border-bottom-left-radius: 300px;
  height: 470px;
  .price-bg {
    background-image: url("https://raw.githubusercontent.com/hexschool/webLayoutTraining1st/master/chatTalker_images/banner.svg");
    top: 0;
    right: 0;
    width: 885px;
    height: 559px;
    background-repeat: no-repeat;
    z-index: -1;
  }
  @include media-breakpoint-down(sm) {
    border-bottom-left-radius: 150px;
  }
  h2 {
    font-size: $h1-font-size;
    @include media-breakpoint-down(sm) {
      font-size: $h2-font-size;
    }
  }
  h3 {
    font-size: $h6-font-size;
  }
}
.plan-select {
  .bg-ball {
    background-image: url("https://raw.githubusercontent.com/hexschool/webLayoutTraining1st/f70f00178a7f0baa31e9c01634303d8562cfe93a/chatTalker_images/ball03.svg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: right;
    width: 94px;
    height: 361px;
    left: 0;
    bottom: 113px;
    z-index: -1;
  }
  .choose-person {
    overflow-x: auto;
    display: flex;
    justify-content: center;
    li {
      width: 130px;
      display: inline-block;
      border: 1px solid $primary;
      color: $primary;
      padding: 12px 32px;
      margin-left: 16px;
      cursor: pointer;
      white-space: nowrap;
      &.active {
        background-color: $primary;
        color: white;
      }
      &:nth-child(1) {
        margin-left: 0;
      }
      @include media-breakpoint-down(sm) {
        padding: 8px 16px;
      }
    }
  }
  .plan-body {
    padding-bottom: 32px;
  }
  .gray-piece {
    width: 169px;
    background-color: $gray-10;
    padding: 24px 32px;
    div {
      font-size: 12px;
    }
    span {
      font-size: $h2-font-size;
    }
    sub {
      text-align: end;
      font-size: 12px;
    }
  }
  .equal {
    font-style: 29px;
  }
  .plan-select-desc {
    li {
      margin-bottom: 32px;
    }
  }
  .w-136 {
    width: 136px;
  }
}
.normal-question {
  ul {
    max-width: 904px;
    button {
      border: none;
    }
  }
  h3 {
    font-size: $h6-font-size;
  }
  .icon {
    width: 20px;
    height: 20px;
  }
  .normal-question-des {
    font-size: $font-size-base;
    color: $gray;
    display: none;
    text-align: left;
  }
  .normal-question-active {
    color: $primary;
  }
}
footer {
  background-color: #f5f5f5;
}
@media (max-width: 1400px) {
  .flow {
    .flow-width {
      width: 100%;
    }
    li {
      width: 23%;
      &:nth-child(1) {
        margin-right: 0px;
      }
      &:nth-child(3) {
        margin-right: 0px;
      }
    }
  }
  .user-experience {
    background-size: contain;
  }
}

@media (max-width: 992px) {
  .bg-home {
    background-size: cover;
    width: 500px;
    height: 600px;
  }
  .second-ball {
    bottom: -50px;
    top: unset;
    width: 150px;
  }
  .flow {
    h2 {
      font-size: $h3-font-size;
    }
    h3 {
      font-size: $h6-font-size;
    }
    li {
      width: 230px;
      &:nth-child(1) {
        margin-right: 10px;
      }
      &:nth-child(3) {
        margin-right: 10px;
      }
    }
    .flow-width {
      width: 100%;
    }
  }
  .plan-select {
    .bg-ball {
      bottom: 33%;
    }
  }
  .normal-question {
    ul {
      width: 90%;
    }
    h3 {
      font-size: $font-size-base;
    }
  }
}
@media (max-width: 576px) {
  .bg-home {
    background: url("https://raw.githubusercontent.com/hexschool/webLayoutTraining1st/f70f00178a7f0baa31e9c01634303d8562cfe93a/chatTalker_images/bg_home_sm.svg");
    width: 334px;
    height: 244px;
    top: 50vh;
    left: 5vw;
    background-size: contain;
  }
  .hero {
    h2 {
      font-size: $h2-font-size;
    }
    h3 {
      font-size: $font-size-base;
    }
    h4 {
      font-size: $font-size-base;
    }
    .hero-img {
      width: 100%;
    }
  }
  .phone-border-bottom {
    border-bottom: 2px solid #ffd153;
  }
  .to-top-button {
    right: 16px;
    bottom: 16px;
  }
  .platform {
    h2 {
      font-size: $h3-font-size;
    }
    img {
      width: 60px;
      height: 60px;
    }
    h3 {
      font-size: $h6-font-size;
    }
    div {
      color: $gray;
    }
  }
  .character {
    h2 {
      font-size: $h3-font-size;
    }
    h3 {
      font-size: $h6-font-size;
    }
    h4 {
      font-size: $font-size-base;
    }
    li {
      box-shadow: 0px 2px 10px #00000014;
    }
  }
  .second-ball {
    width: 88px;
    height: 135px;
  }
  .flow {
    li {
      width: 230px;
      &:nth-child(1) {
        margin-right: 0px;
      }
      &:nth-child(2) {
        order: 3;
      }
      &:nth-child(3) {
        order: 2;
        margin-right: 0px;
      }
    }
  }
  .user-experience {
    background-image: url("https://raw.githubusercontent.com/hexschool/webLayoutTraining1st/f70f00178a7f0baa31e9c01634303d8562cfe93a/chatTalker_images/footer_sm.svg");
    padding-top: 293px;
    padding-bottom: 60px;
  }
  .plan-select {
    .bg-ball {
      width: 96px;
      height: 204px;
    }
    .choose-person {
      overflow-x: auto;
      justify-content: flex-start;
      -ms-overflow-style: none;
      scrollbar-width: none;
      &::-webkit-scrollbar {
        display: none;
      }
      li {
        margin-left: 16px;
        white-space: nowrap;
        &.active {
          background-color: $primary;
          color: white;
        }
        &:nth-child(1) {
          margin-left: 0;
        }
        @include media-breakpoint-down(sm) {
          padding: 8px 16px;
        }
      }
    }
    .plan-body {
      padding-bottom: 24px;
    }
    .gray-piece {
      width: 139px;
      padding: 16px 24px;

      span {
        font-size: 28px;
      }
    }
    .plan-select-desc {
      li {
        margin-bottom: 16px;
      }
    }
  }
}
